* {
  box-sizing: border-box;
}

body {
  height: 100%;
  position: absolute;
}

.carousel {
  height: 100%;
  width: 100%;
  position: fixed;
}

.current {
  height: 70%;
  width: 50%;
  margin-top: 15rem;
  margin-left: 40rem;
  background-color: rgb(84, 84, 84);
  background-image: url("images/image1.jpg");
  background-position: center;
}

.title {
  font-style: italic;
  text-align: center;
  height: 20%;
  color: rgb(245, 245, 245);
}

.sentence {
  height: 10%;
  text-align: center;
  color: rgb(245, 245, 245);
}
