* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.carousel {
  height: 100%;
  width: 100%;
}

.current {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
  background-position: center;
  background-size: cover;
}

.title {
  font-style: italic;
  text-align: center;
  color: rgb(245, 245, 245);
}

.sentence {
  text-align: center;
  color: rgb(245, 245, 245);
}

.advance {
  width: 100%;
  position: absolute;
}

.fa-angle-left {
  float: left;
  color: rgb(245, 245, 245);
  margin-left: 1rem;
}

.fa-angle-right {
  float: right;
  color: rgb(245, 245, 245);
  margin-right: 1rem;
}

.shadow {
  text-shadow: 2px 2px 3px black;
}
